* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 24px 84px 46px;
    background-color: white;
}

.no-bullets {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.items {
    margin-left: 44px;
    color: #4F5965;
}

.section{
    padding: 26px 75px 45px;
    background-color:#F2F2F2;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.slider-img{
    width: 305px;
    height: 190px;
}

